<div fxLayout="row" fxLayoutAlign="left center" *ngIf="weatherInfo">
  <p><b>City:</b> {{weatherInfo.name}}</p>
  <p><span>Pressure:</span> {{weatherInfo.main.pressure | number:'2.0-0'}}</p>
  <p><span>Humidity:</span> {{weatherInfo.main.humidity | number:'2.0-0'}}</p>
  <p><span>Wind speed:</span> {{weatherInfo.wind.speed | number:'2.0-0'}} m/s</p>
  <p><span>Clouds:</span> {{weatherInfo.clouds.today}}%</p>
</div>
