<form>
  <mat-form-field>
    <input matInput
      required
      #degrees
      max="2"
      type="number"
      placeholder="Search degrees"
      (keyup)="onKeyUp(degrees.value)"
    >
    <mat-hint align="end">
      {{degrees.value.length}} / 2 (°C)
    </mat-hint>
  </mat-form-field>
</form>
