<mat-toolbar fxLayout="row" fxLayoutAlign="space-around center">
  <mat-toolbar-row>
    <app-open-weather-icon [iconCode]="openWeatherIcon.CLEAR_SKY"></app-open-weather-icon>
    <div fxFlex="grow">
      <p>Temperature: {{degrees}} °C , humidity is more than 50%</p>
    </div>
    <app-weather-request-input fxFlex="30"
      (weatherRequest)="onFilerChange($event)"
    >
    </app-weather-request-input>
  </mat-toolbar-row>
</mat-toolbar>
