<div fxLayout="column" class="content">
  <app-current-day-viewer></app-current-day-viewer>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <p>To search best weather, please, enter temperature in Celsius in field above.</p>
</div>
<div fxLayout="row" fxLayoutAlign="center" *ngIf="!weatherInfo?.length">
  <p>For temperature {{weatherFilterRequest}} °C places in the Earth are not found!</p>
</div>
<app-weather-details-viewer *ngFor="let info of weatherInfo" [weatherInfo]="info">
</app-weather-details-viewer>
<div *ngIf="httpIsActive" class="preloader">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>