/* You can add global styles to this file, and also import other style files */
/**
Angular material theme
 */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/**
Open weather icons
 */
@import "~open-weather-icons/dist/css/open-weather-icons.css";

/**
App root styles
 */
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

